@import 'variables.scss';

h1 { font-size:  2.5rem; }
h2 { font-size:  2rem; }
h3 { font-size:  1.5rem; }

.inline { display: inline-block; }
.block  { display: block; }

.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }

.primary { color: $primary; }
.accent  { color: $accent; }
.white   { color: $white; }
.black   { color: $black; }
.greyer  { color: transparentize($black, 0.1); }

.normal-font { font-family: $family-sans-serif; font-weight: 400; }
.fixed-font  { font-family: $family-fixed; font-weight: 400; }

.bgc {
  &.primary   { color: $white; background: $primary; }
  &.accent    { color: $white; background: $accent; }
  &.white     { color: $black; background: $white; }
  &.black     { color: $white; background: $black; }
  &.inverted  { color: $primary; background: $black; }
}

.thinn { font-weight: 200; display: inline-block; }
.thicc { font-weight: 600; display: inline-block; }

.quarter { width: 25%; }
.half    { width: 50%; }
.threefourths { width: 75%; }
.full    { width: 100%; }

.rounded { border-radius: 200px; }
.image {
  min-width: 200px;
  max-width: 300px;
}

.air {
  margin: 1.5rem 0;
}

.mega-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .block { margin: 2rem auto; }
}

.btn {
  color: $primary;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-radius: $radius;
  box-shadow: $shadow;
  text-decoration: none;
  text-shadow: $text-shadow;
  font-family: $family-sans-serif;
  letter-spacing: 0.1rem;
  border: none;
  transition: 0.2s background, 0.2s box-shadow;
  &.primary:hover { background: darken( $primary, 2 ) }
  &.accent:hover  { background: darken( $accent, 2 ) }
  &.white:hover   { background: darken( $white, 2 ) }
  &:hover  { transform: translateY(-1px); }
  &:active { transform: scale(0.95); box-shadow: $click-shadow; }
}

@keyframes breathing {
  0%   { opacity: .75; }
  25%  { opacity:   1; }
  60%  { opacity: .75; }
  100% { opacity: .75; }
}

@media (max-width: 1100px) {
  html {
    font-size: 0.85em;
  }
  .container {
    width: 90%;
  }
}

@media (orientation: landscape) and (max-height: 575px) {
  #content {
    margin-top: 18rem;
  }
}

@media (max-width: 575px) {
  html {

    .block { width: 100%; }
    .full { width: 90%; }
    .container { width: 90%; }

    .container #nav-bar  {
      #second-line{
        white-space: nowrap;
        ul li a {
          font-size: 1.3rem;
        }
      }
    }
    .container #content .post { 
      h1 { text-align: center; }
      h2 { text-align: center; }
      .post-content {
        text-align-last: center;
      }
      img {
        text-align: center;
      }
    }
  }
}