.primary {
  color: #29B99D; }

.white {
  color: #fdfefd; }

.black {
  color: #223232; }

.ghost-button {
  padding: 1rem 2rem;
  text-decoration: none;
  background: #29B99D;
  border-radius: 0.5rem;
  font-weight: 600; }
